flows.json
[{"id":"ca056948.505df8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e86b2b8.11401c","type":"ui_gauge","z":"ca056948.505df8","name":"","group":"51227f67.87d9e","order":4,"width":10,"height":6,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"0","max":"45","colors":["#05c705","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":220,"wires":[]},{"id":"61f5adcb.ee59d4","type":"mqtt in","z":"ca056948.505df8","name":"","topic":"umidade","qos":"2","datatype":"utf8","broker":"65f817d9.ee9778","nl":false,"rap":true,"rh":0,"x":700,"y":100,"wires":[["7a47f7f.2571e08","1a42318f.90a08e"]]},{"id":"c4ed9cf8.cf108","type":"mqtt in","z":"ca056948.505df8","name":"","topic":"Temperatura","qos":"2","datatype":"auto","broker":"65f817d9.ee9778","nl":false,"rap":true,"rh":0,"x":710,"y":220,"wires":[["6e86b2b8.11401c","1a42318f.90a08e"]]},{"id":"7a47f7f.2571e08","type":"ui_gauge","z":"ca056948.505df8","name":"","group":"51227f67.87d9e","order":1,"width":10,"height":6,"gtype":"gage","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#cb8c34","#e6e600","#0193ad"],"seg1":"","seg2":"","x":920,"y":100,"wires":[]},{"id":"da23da9d.7029c8","type":"mqtt out","z":"ca056948.505df8","name":"","topic":"esp32/output1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65f817d9.ee9778","x":380,"y":200,"wires":[]},{"id":"bbab1299.73e35","type":"ui_led","z":"ca056948.505df8","order":3,"group":"51227f67.87d9e","width":10,"height":1,"label":"Bomba d'agua","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"#04ff00","value":"ligado","valueType":"str"},{"color":"#ababab","value":"desligado","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":false,"name":"","x":910,"y":300,"wires":[]},{"id":"db5c3d5b.da1e6","type":"mqtt in","z":"ca056948.505df8","name":"","topic":"bomba1","qos":"2","datatype":"auto","broker":"65f817d9.ee9778","nl":false,"rap":true,"rh":0,"x":700,"y":300,"wires":[["bbab1299.73e35"]]},{"id":"e82492dd.68c4f","type":"mysql","z":"ca056948.505df8","mydb":"61374506.69489c","name":"","x":1450,"y":220,"wires":[["e29f0afe.936c38","46846c1e.a91834"]]},{"id":"f59cd213.ceba1","type":"function","z":"ca056948.505df8","name":"","func":"var umidade = msg.payload.umidade\nvar temperatura = msg.payload.Temperatura\nmsg.topic = \"INSERT INTO Irrigacao(`temperature`,`humidity`) VALUES ('\"+temperatura+\"', '\"+umidade+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":140,"wires":[["7a76d610.f7ac48"]]},{"id":"bc60ae4b.29089","type":"function","z":"ca056948.505df8","name":"","func":"msg.topic = \"SELECT * FROM Irrigacao order by timeStamp DESC limit 600\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["e82492dd.68c4f"]]},{"id":"de8315e0.646d58","type":"inject","z":"ca056948.505df8","name":"","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1110,"y":220,"wires":[["bc60ae4b.29089"]]},{"id":"e29f0afe.936c38","type":"ui_template","z":"ca056948.505df8","group":"51227f67.87d9e","name":"","order":2,"width":10,"height":13,"format":"<div layout=\"row\" layout-align = \"start center\">\n    <span flex>Hora</span>\n    <span flex>Temperatura[°c]</span>\n    <span flex>Umidade[%]</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat = \"row in msg.payload\">\n    <span flex style = \"color: green\">{{row.timeStamp}}</span>\n    <span flex style = \"color: blue\">{{row.temperature}}</span>\n    <span flex style = \"color: red\">{{row.humidity}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1660,"y":220,"wires":[[]]},{"id":"12efd0f4.afe91f","type":"inject","z":"ca056948.505df8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM Irrigacao;","x":1280,"y":280,"wires":[["e82492dd.68c4f"]]},{"id":"46846c1e.a91834","type":"debug","z":"ca056948.505df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":160,"wires":[]},{"id":"1a42318f.90a08e","type":"join","z":"ca056948.505df8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":140,"wires":[["f59cd213.ceba1"]]},{"id":"fffaad2c.b90a7","type":"inject","z":"ca056948.505df8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TRUNCATE TABLE Irrigacao;","x":1280,"y":340,"wires":[["e82492dd.68c4f"]]},{"id":"ce55418b.bce5b","type":"mysql","z":"ca056948.505df8","mydb":"61374506.69489c","name":"","x":1450,"y":140,"wires":[[]]},{"id":"7a76d610.f7ac48","type":"delay","z":"ca056948.505df8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":140,"wires":[["ce55418b.bce5b"]]},{"id":"51227f67.87d9e","type":"ui_group","name":"Irrigação","tab":"9f5ef895.5cd8f8","order":1,"disp":true,"width":"20","collapse":false},{"id":"65f817d9.ee9778","type":"mqtt-broker","name":"Henrique da Silva","broker":"henriqueifsp.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"61374506.69489c","type":"MySQLdatabase","name":"","host":"henriquechaves.czonge6kwjqv.sa-east-1.rds.amazonaws.com","port":"3306","db":"tarefachaves","tz":"BRT","charset":"UTF8"},{"id":"9f5ef895.5cd8f8","type":"ui_tab","name":"Agua","icon":"dashboard","disabled":false,"hidden":false}]